html, body
{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.bar
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 5px;
  background: #222;
}

.health-indicator
{
  display: inline-block;
  font-size: 14pt;
}

.health-indicator-label
{
  margin-right: 5px;
  color: #ddd;
}

.health-indicator-value
{
}

.health-indicator-value.good
{
  color: #5f5;
}

.health-indicator-value.damaged
{
  color: #ff5;
}

.health-indicator-value.critical
{
  color: #f55;
}